* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    position: relative;
}

/* nav */
.navbar {
    color: white;
}

.homenav {
    border-radius: 20px;
    color: white;
}

.homenav:hover {
    transition: .2s;
    color: rgb(224, 147, 147);
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    scale: 1.1;
}

.aboutnav {
    border-radius: 20px;
    color: white;
}

.aboutnav:hover {
    transition: .2s;
    color: rgb(224, 147, 147);
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    scale: 1.1;
}

.contnav {
    border-radius: 20px;
    color: white;
}

.contnav:hover {
    border-radius: 20px;
    transition: .2s;
    color: rgb(224, 147, 147);
    padding-left: 20px;
    padding-right: 20px;
    scale: 1.1;
    background-color: rgb(255, 255, 255);
}

.gallnav {
    color: white;
    border-radius: 20px;
}

.gallnav:hover {
    scale: 1.1;
    transition: .2s;
    color: rgb(224, 147, 147);
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
}

.actnav {
    border-radius: 20px;
    color: white;
}

.actnav:hover {
    scale: 1.1;
    border-radius: 20px;
    transition: .2s;
    color: rgb(224, 147, 147);
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
}

/* END NAV */
.homebg {
    background-image: url(images/bghomep.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 20%;
    height: auto;
}

h1 {
    font-family: 'Anton', sans-serif;
}

/* home */
.col-6 h3 {
    font-size: 3em;
}

.col-6 h6 {
    font-size: 1.5em;
}

.col-6 {
    margin-top: 1 00px;
}

.main .container h3 {
    font-size: 5vw;
}

.EMJ {
    font-size: 3vw;
}

/* about US */
.abttxt {
    font-size: 3.5 rem;
}

.About_us img {
    max-width: 100%;
    height: 50vh;
}

.About_us .rounded-circle {
    border: 3px solid black;
}

section h1 {
    font-size: 6rem;
}

.About_us .col-lg-4 {
    border: 1px solid red;
    border-radius: 30px;
}

/* contact us */
.cont {
    background-image: url(../images/contbg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.earlpic {
    width: 100%;
    height: 70vh;
}

/* act */
.actbutton {
    font-weight: bolder;
    font-style: none;
    text-decoration-line: none;
    color: white;

}

.buttonhover:hover {
    background-color: white;
    color: rgb(116, 5, 5);
    transition: all 0.5s;
    border-radius: 200px;
    scale: 1.2;
    cursor: auto;
}

.button2 {
    border-radius: 200px;
}

.button2:hover {
    border-radius: 200px;
    transition: all 1s;
}

.actbg {
    background-image: url(../images/actbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.periodic {
    height: 250px;
    border-radius: 20px;
}

.survey {
    height: 250px;
    border-radius: 20px;
}

.respon {
    height: 250px;
    border-radius: 20px;
}
