* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/surveybg.png);
    background-size: cover;
    height: 100vh;
}

.container {
    background-color: aqua;
}

.backbtn {
    color: black;
    text-decoration-line: none;
}